.admin-sidenav-container { height: 100vh; }
.admin-sidenav { width: 240px; padding-top: 8px; }
.logo { font-weight: 700; padding: 16px; }
.admin-content { padding: 24px; }
.toolbar-title { margin-left: 8px; }
