@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Space+Grotesk:wght@500;600;700&display=swap');
@import './app/styles/tokens';
@import './app/styles/theme';
@import './app/styles/buttons';
@import './app/styles/cards';
@import './app/styles/tables';
/* You can add global styles to this file, and also import other style files */
